@import 'tailwindcss';

body {
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  display: none;
}

.rock-icon {
  width: 5rem;
  height: 5rem;
  background-image: url('/rock.svg');
  background-size: cover;
}
